.vragenlijst {
    height: auto;
    width: 45%;
    margin-right: 5%;
}

.vraag {
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    word-wrap: break-word;
    white-space: normal;
}

.uitkomst {
    width: 50%;
    float: left;
}

.uitkomst i {
    float: left;
}

.uitkomst > p:first-of-type {
    float: left;
    margin: 5%;
}

.uitkomst > p:nth-of-type(2) {
    clear: left;

}

.studentvraag {
    height: ;
}

.iconmargin {
    margin: 5px 5px 5px 0;
}

.ProfileHeader {
    height: 50px;
    margin-left: 37%;
    margin-right: 37%;
}

.ProfileImage {
    height: 80px;
    width: 80px;
    margin-left: 42%;
    margin-right: 42%;
    margin-top: 3%;
    border-radius: 50%;
}

#login, #signup {
  height: 100%;
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
}
